//partial that carries all the variables
$primary-color: #2f3131; //primary pallette color for brand
$secondary-color: grey; //secondary color variable for gray  
$selected-cell: rgba(99, 169, 216, 0.2); //faded primary color for blog user dp
$font-stack: Roboto, sans-serif; //used font-stack variable instead of passing font